<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>Weather App</title>
</head>
<body>
    
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img src="images/about.png" alt="thapa" title="Zaid Technical">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to my Weather App</p>
              <h1>I am a MERN stack  <span class="text_clr">Developer</span> and NITIAN</h1>
              <a href="https://www.linkedin.com/in/mohd-abu-zaid-954b421ba/" target="_blank"><button class="cdc">About Me</button></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    {{>footer}}
</body>
</html>